@media screen and (max-width: 1520px)
	
@media screen and (max-width: 1199px)
	.formheader 
		h2 
			font-size: 30pt
@media screen and (max-width: 991px) 

@media screen and (max-width: 767px)

@media screen and (max-width: 575px)

@media screen and (max-width: 459px)

@media screen and (max-width: 373px)


@media screen and (max-width: 575px) and (orientation: portrait)

@media screen and (max-height: 800px)

@media screen and (max-height: 450px)

	